{% extends 'base.html' %}
{% block content %}
  <div class="container mt-5 pt-5"> <!-- Added margin-top for navbar -->
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg">
          <div class="card-body">
            <h1 class="text-center mb-4">Add Record</h1>
            <form method="POST" action="{% url 'add_record' %}">
              {% csrf_token %}

              <!-- Form Fields -->
              <div class="mb-3">
                {{ form.as_p }} <!-- Render form fields -->
              </div>

              <div class="d-flex justify-content-between">
                <!-- Submit Button -->
                <button type="submit" class="btn btn-secondary w-48">Add Record</button>

                <!-- Back Button -->
                <a href="{% url 'home' %}" class="btn btn-outline-secondary w-48 text-center">Back</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
